{{ define "main" }}
<h1>{{ .Title }}</h1>

  {{ .Content }}
  <div id="mirador-container" class="disabled">
    <span id="close" class="cursor">&times;</span>
    <div id="mirador-viewer"></div>
  </div>
  <script type="text/javascript">
    const miradorBtns = document.querySelectorAll('.mirador-btn');
    miradorBtns.forEach((d) => d.addEventListener("click", function (d) {
        let manifest = this.dataset.manifest
        let canvas = this.dataset.canvas
        launchMirador(manifest, canvas)
    }));

    const closeButton = document.querySelector("#close");
    closeButton.addEventListener("click", closeMirador)

    function launchMirador(manifest, canvas) {
        const miradorViewer = document.querySelector("#mirador-container");
        miradorViewer.classList.remove('disabled')
        miradorViewer.classList.add('active')
        const mirador = Mirador.viewer({
            id: "mirador-viewer",
            windows: [{
                allowClose: false,
                manifestId: manifest,
                thumbnailNavigationPosition: 'far-bottom',
                canvasIndex: canvas
            }]
        });
    }

    function closeMirador() {
        const miradorViewer = document.querySelector("#mirador-container");
        miradorViewer.classList.remove('active');
        miradorViewer.classList.add('disabled');
    }
  </script>
{{ end }}