{{ $data := dict }}
{{- $path := .Get "path" }}
{{- $bib := split .Inner "<--->" -}}
{{ with .Page.Resources.Get $path }}
  {{ with . | transform.Unmarshal }}
    {{ $data = . }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get page resource %q" $path }}
{{ end }}
{{ with $data.sections }}
  {{ $len := (len .)}}
  {{ range $index, $section := . }}
    <h2>{{ $section.title }}</h2>
      {{ $background := $section.background }}
      {{ with $.Page.Resources.Get $background }}
        <div style="background-image: url('{{ . }}');" class=section-label-container>
      {{ end }}
      <div class="section-label">
        <p>{{ $section.label | safeHTML }}</p>
      </div>
    </div>
    {{ with $section.objects }}
      {{ range . }}
        <figure class="gallery-item">
          <img src="{{ .image }}">
        <figcaption>{{ .label | safeHTML }}</figcaption>
        </figure>
        {{ if .manifest }}
          <button type="button" data-manifest={{ .manifest }} class="mirador-btn btn">Explore the doc</button>
        {{ end }}
      {{ end }}
      {{ $bibEntry := index $bib $index }}
      <h3>Further reading:</h3>
      {{ $bibEntry | safeHTML }}
      {{ if ne (add $index 1) $len }}
       <hr>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}