{{ $data := dict }}
{{ $path := "data.json" }}
{{ with .Page.Resources.Get $path }}
  {{ with . | transform.Unmarshal }}
    {{ $data = . }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get page resource %q" $path }}
{{ end }}
{{ $counter := 1}}
{{ with $data.sections }}
  {{ range . }}
    <h2>{{ .title }}</h2>
    <p>{{ .label }}</p>
    {{ with .objects }}
      {{ range . }}
        <div class="gallery-item">
          <img src="{{ .image }}">
        </div>
        {{ if .manifest }}
          <p>{{ .manifest }}</p>
        {{ end }}
        <p>{{ .label }}</p>
        {{ $counter = add $counter 1}}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}