header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
  background-image: url("/images/rittenhouse.jpg");
  background-color: rgb(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  padding: 8em 0 0.1em 0;
}

header > h1 {
  margin-right: 2em;
  text-align: right;
}

header a {
  color: #222;
}