{{ define "main" }}
<p>Mathematics has been fundamental to the fabric of the United States almost since its inception; the Harvard College curriculum included it from its founding in 1636. Following the example of the universities in Cambridge and Oxford back in England, colonial colleges drilled students primarily in geometry as presented in Euclid’s <i>Elements</i>. To go beyond that meant to engage in self-study.</p>
<p>Following its declaration of independence in 1776, the United States initially continued along that mathematical path, but European mathematics increasingly informed its mathematical practitioners both within and outside of the academy after the War of 1812. That cross-fertilization had resulted by 1900 in the adoption of a largely German research ethos and in the creation of actual research universities.</p>
<p>American mathematics consolidated and grew in the twentieth century, arguably becoming by 1950, the leader in mathematical research internationally. <i>Contours of American Mathematics</i> uses the collections of the American Philosophical Society to trace this dynamic developmental process.</p>
<div id="trig-container">
  <ul id="trig-menu" style="--total: 4">
    <!-- First wave -->
    <li>
      <ul class="principal">
        <li id="early-america-circle" style="--i: 0">American Mathematics in the Revolutionary Era</li>
        <li id="nineteenth-c-circle" style="--i: 1">Mathematics in the New Republic to 1900</li>
        <li id="early-twentieth-circle" style="--i: 2">A Changing Mathematical Landscape: 1920 to World War II</li>
        <li id="postwar-circle" style="--i: 3">American Mathematics Around World War II</li>
      </ul>
    </li>
    <li>
      <ul class="secondary">
        <li style="--i: 0"></li>
        <li style="--i: 1"></li>
        <li style="--i: 2"></li>
        <li style="--i: 3"></li>
      </ul>
    </li>
  </ul>
</div>
{{ end }}