{{ define "main" }}
<article>
<p>Mathematics has been a fundamental part of the fabric of the United States since the beginning. Harvard, the first college in the colonies, taught it from its founding in 1636. Like its counterparts in England, the colonial mathematics curriculum relied on ancient sources such as the geometrical treatise, <i>Elements</i>, by the fourth-century BCE Greek mathematician, Euclid. Anything beyond that almost always meant pursuing self study.</p>
<p>After declaring independence in 1776, the United States continued this tradition until after the War of 1812. By then, European mathematics increasingly informed the work of practitioners both within and beyond the academy. This influence continued into the twentieth century, as the German university served as the model for the American research university.</p>
<p>It was not until the mid-twentieth century that American mathematics grew to dominate the field internationally. <i>Contours of American Mathematics</i> uses the collections of the American Philosophical Society to give a glimpse of the development of the field of mathematics in the United States.</p>
</article>
<nav id="trig-container">
  <ul id="trig-menu" style="--total: 4">
    <!-- First wave -->
    <li>
      <ul class="principal">
        <li id="early-america-circle" style="--i: 0"><a href="early-america">American Mathematics in the Revolutionary Era</a></li>
        <li id="nineteenth-c-circle" style="--i: 1"><a href="nineteenth-century">Mathematics in the New Republic to 1900</a></li>
        <li id="early-twentieth-circle" style="--i: 2"><a href="early-twentieth-century">A Changing Mathematical Landscape: 1900 to World War II</a></li>
        <li id="postwar-circle" style="--i: 3"><a href="postwar">American Mathematics Around World War II</a></li>
      </ul>
    </li>
    <li>
      <ul class="secondary">
        <li style="--i: 0"></li>
        <li style="--i: 1"></li>
        <li style="--i: 2"></li>
        <li style="--i: 3"></li>
      </ul>
    </li>
  </ul>
</nav>
{{ end }}