@import "components/header.css";
@import "components/footer.css";

html, body {
  height: 100%
}

body {
  color: #222;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

#main-content, #footer-text {
  margin: auto;
  text-align: justify;
}

#main-content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

main, #footer-text {
  max-width: 350px;
}

@media (min-width: 576px) {
  main, #footer-text {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  main, #footer-text {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  main, #footer-text {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  main, #footer-text {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  main, #footer-text {
    max-width: 1320px;
  }
}

:root {
  --angle: 60deg;
  --outer-spacing: 10rem;
  --shape-size: 8rem;
}

.principal > li, .secondary > li {
  display: flex;
  align-items: center;
  text-align: center;

  padding: 10px;

  width: var(--shape-size);
  height: var(--shape-size);
  border-radius: 50%;
}

#trig-menu {
  list-style: none;
  padding-inline-start: 0px;
  display: flex;
}

@media (min-width: 768px) {
  #trig-menu {
    display: block;
    margin: auto;
  }
}

@media (min-width: 768px) {
  #trig-menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-inline-start: 0px;
  }
}


.principal {
  position: relative;
  z-index: 2;
  padding-left: 0px;

  li {
    transform: translateX(
      calc(sin(var(--angle) * var(--i)) * var(--shape-size) / 2)
    );
    background-color: rgb(255, 255, 255, 0.7);
    background-blend-mode: lighten;
  }
}

@media (min-width: 768px) {
  .principal li {
    transform: translateY(
      calc(sin(var(--angle) * var(--i)) * var(--shape-size) / 2)
    );
  }
}

.secondary {
  position: absolute;

  li {
    transform: translateX(
      calc(cos(var(--angle) * var(--i) + var(--angle)) * var(--shape-size) / 2)
    );
    background-color: rgb(247, 174, 134, 0.8);
  }
}

@media (min-width: 768px) {
  .secondary li {
    transform: translateY(
      calc(cos(var(--angle) * var(--i) + var(--angle)) * var(--shape-size) / 2)
    );
  }
}

#trig-container {
  display: flex;
  align-items: center;
  gap: 20px;

  padding-bottom: var(--outer-spacing);
}

#early-america-circle {
  background-image: url("images/magic-circle.jpg");
}

#nineteenth-c-circle {
  background-image: url("images/practical-navigator.png");
}

#early-twentieth-circle {
  background-image: url("images/post-manu.jpg");
  background-size: 100%;
}

#postwar-circle {
  background-image: url("images/eniac.jpg");
  background-size: 110%;
}

.section-label-container {
  padding: 1em 2em;
  margin-bottom: 1em;
}

@media(min-width: 576px) {
  .section-label-container {
    padding: 1em 3em;
  }
}

@media(min-width: 768px) {
  .section-label-container {
    padding: 1.5em 5em;
  }
}

@media(min-width: 992px) {
  .section-label-container {
    padding: 2em 12em;
  }
}

.section-label {
  background-color: #CCE4ED;
  border: 0.1em solid rgb(15 15 15);
  border-radius: 0.8em;
  padding: 0 1em;
}

.section-label > p {
  margin-top: 1rem;
}

.gallery-item {
  display: flex;
  margin: 0 auto;
  background-color: #CCE4ED;
  overflow: hidden;
}

@media(min-width: 768px) {
  .gallery-item, .gallery-text-card {
    height: 400px;
  }
}

@media(min-width: 992px) {
  .gallery-item, .gallery-text-card {
    height: 500px;
  }
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-text-card {
  display: flex;
  align-items: center;
}

.gallery-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mirador-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#mirador-container.disabled {
  display: none;
}

#mirador-container.active {
  display: block;
}

.mui-rvh6fe-WorkspaceArea-root {
  padding: 2em;
  justify-content: center;
}

#mirador-viewer {
  margin: auto;
}

#close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 35px;
  font-weight: bold;
  z-index: 2;
}

#close:hover, #close:focus {
  color: tomato;
  text-decoration: none;
  cursor: pointer;
}

#prev-next {
  display: flex;
  flex-direction: row;
}

#prev {
  margin-right: auto;
}

#next {
  margin-left: auto;
}

.csl-entry {
  word-wrap: break-word;
}